{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load djangohelper_tags %}

{% block title %}
    {{ forum }} - {{ LBFORUM_TITLE }}
{% endblock %}

{% block content_right_bar %}
    {% include 'lbforum/widgets/cur_user_profile.html' %}

    {% if forum.description %}
        <div class="sep20"></div>
        <div class="box">
            <div class="inner">
                {{forum.description}}
            </div>
        </div>
    {% endif %}

    
{% endblock %}

{% block content_content %}
    {% load pagination_tags %}
    {% autopaginate topics FORUM_PAGE_SIZE %}
    <div class="box">
        <div class="cell" style="padding-bottom: 0px;"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="auto" valign="top">
                        <div class="fr" align="right">
                            <span class="snow">
                                {% trans "Topics" %}
                                <strong>[ {% page_range_info page_obj %} ]</strong> 
                            </span> 
                        </div>
                        <span class="bigger">
                            <a href="{% url 'lbforum_index' %}">{{ LBFORUM_TITLE }}</a>
                            <span class="chevron">&raquo;</span>
                            {{ forum }}
                        </span>
                        {% if user.is_authenticated %}
        
                            <div align="left">
                                <a href="{% url 'lbforum_new_topic' forum_id=forum.pk %}" class="super normal button">{% trans "Post new topic" %}</a>
                            </div>
                        {% endif %} 


                    </td>
                </tr>
            </table>
        </div>
        {% include 'lbforum/inc_topic_list.html' %}
        <div class="inner">
            {% paginate %}
        </div>
    </div>
{% endblock %}
