{% extends 'lbforum/base.html' %}
{% load humanize %}
    
{% block content %}
<div id="brd-wrap" class="brd">
	<div id="brd-viewforum" class="brd-page paged-page">
		<div class="hr">
			<hr>
		</div>

		<div class="crumbs gen-content" id="brd-crumbs-top">
			<p>
				<span class="crumb crumbfirst"> <a
					href="/career-tools/forums/">ThisWayToCPA</a>
				</span> <span class="crumb"> <span> » </span> <a
					href="/exam-licensure/cpa-exam-aid/timeline/reg/">REG Exam Aid</a>
				</span> <span class="crumb"> <span> » </span> <a
					href="/career-tools/forums/forum/reg/">REG</a>
				</span> <span class="crumb crumblast"> <span> » </span> Post new
					topic
				</span>
			</p>
		</div>
		<div class="main-wrapper" id="brd-main">
			<div class="main-head">
				<h1 class="hn">
					<span>Post new topic</span>
				</h1>
			</div>
		</div>
		<div class="crumbs gen-content" id="brd-crumbs-end">

			<p>
				<span class="crumb crumbfirst"> <a
					href="/career-tools/forums/">ThisWayToCPA</a>
				</span> <span class="crumb"> <span> » </span> <a
					href="/career-tools/forums/forum/reg/">REG</a>
				</span> <span class="crumb crumblast"> <span> » </span> Post new
					topic
				</span>
			</p>

		</div>
		<div class="hr">
			<hr>
		</div>

	</div>
</div>


<div id="wrapper">
<h2>Files Shared in the {{forum.name}} Forum</h2>
<a href="{% url lbforum_files_upload forum.slug %}" class="btn btn-primary submit">Upload a File</a>
<table>
  <tr>
    <th>Title</th>
    <th>Uploaded By</th>
    <th>Uploaded</th>
  </tr>
  	{% for file in object_list %}
  <tr>
    <td><a href="{{file.file.url}}" target="_blank">{{file.title}}</a></td>
    <td>{{file.uploaded_by}}</td>
    <td>{{file.upload_date|naturaltime}}</td>
  </tr>
{% endfor %}


</table>
<div class="row video-pagination">
		{% if page_obj.has_previous %}<a href="{% url video_list %}?page={{page_obj.previous_page_number}}">Previous</a> | {% endif %}
		Page {{page_obj.number}} of {{paginator.num_pages}}
		{% if page_obj.has_next %} | <a href="{% url video_list %}?page={{page_obj.next_page_number}}">Next</a>{% endif %}
	</div>
	</div>
{% endblock %}