{% extends 'lbforum/base.html' %}
{% load humanize %}
    
{% block content %}

<div id="wrapper">
<table>
  <tr>
    <th>Title</th>
    <th>Uploaded By</th>
    <th>Uploaded</th>
  </tr>
  	{% for file in object_list %}
  <tr>
    <td><a href="{{file.file.url}}" target="_blank">{{file.title}}</a></td>
    <td>{{file.uploaded_by}}</td>
    <td>{{file.upload_date|naturaltime}}</td>
  </tr>
{% endfor %}


</table>
<div class="row video-pagination">
		{% if page_obj.has_previous %}<a href="{% url video_list %}?page={{page_obj.previous_page_number}}">Previous</a> | {% endif %}
		Page {{page_obj.number}} of {{paginator.num_pages}}
		{% if page_obj.has_next %} | <a href="{% url video_list %}?page={{page_obj.next_page_number}}">Next</a>{% endif %}
	</div>
	</div>
{% endblock %}